
ul button{
border: none;
background-color: transparent;
color: white;
font-size: 25px;
margin-left: 300px;
text-decoration:underline ;
}

nav{
    margin-top: -8px;
    margin-left: -7px;
    margin-right: -7px;
    background-color: rgb(63, 63, 63);
    display: flex;
    flex-direction: row;
}

body{
    background-color: black;
}
body{
    background-color: black;
}
video{
    width: 800px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.p1{
    background-color: rgba(255, 255, 255, 0.107);
    margin-left: -7px;
    margin-right: -7px;
}
p{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.107);
    margin-top: -0px;
    padding-bottom: 20px;
    margin-left: -7px;
    margin-right: -7px;
}
.p4{
    background-color: rgb(163, 1, 1);
    color: rgb(163, 1, 1);
    margin-left: -7px;
    margin-right: -7px;
    margin-top: -25px;
}
.p2{
    margin-top: 40px;
    margin-left: -7px;
    margin-right: -7px;
    margin-bottom: -9px;
}
#comment-container {
        width: 800px;
        margin: auto;
    }

    #comment-input {
        width: 100%;
        height: 50px;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .comment {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;
        margin-top: 20px;
        color: white;
    }

    .delete-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        color: red;
    }
    button.k1{
        background-color: green;
        border: none;
        width: 200px;
        height: 30px;
        border-radius: 25px;
        color: white;
    }

    @media (max-width : 1320px) {
        ul button {
            margin-left: 250px;
        }
    }
    @media (max-width : 1180px) {
        ul button {
            margin-left: 200px;
        }
    }
    @media (max-width : 995px) {
        ul button {
            margin-left: 150px;
        }
    }
    @media (max-width : 840px) {
        ul button {
            margin-left: 120px;
        }
        video {
            width: 700px;
        }
        #comment-container {
            width: 700px;
            margin: auto;
        }
    }
    @media (max-width : 720px) {
        ul button {
            margin-left: 100px;
        }
        video {
            width: 600px;
        }
        #comment-container {
            width: 600px;
            margin: auto;
        }
    }
    @media (max-width : 660px) {
        ul button {
            margin-left: 80px;
        }
        video {
            width: 500px;
        }
        #comment-container {
            width: 500px;
            margin: auto;
        }
    }
    @media (max-width : 570px) {
        ul button {
            margin-left: 60px;
        }
    }
    @media (max-width : 520px) {
        ul button {
            margin-left: 70px;
            font-size: 20px;
        }
        video {
            width: 450px;
        }
        #comment-container {
            width: 450px;
            margin: auto;
        }
    }
    @media (max-width : 505px) {
        ul button {
            margin-left: 60px;
        }
    }
    @media (max-width : 461px) {
        ul button {
            margin-left: 50px;
        }
        video {
            width: 400px;
        }
        #comment-container {
            width: 400px;
            margin: auto;
        }
    }
    @media (max-width : 415px) {
        ul button {
            margin-left: 40px;
        }
        video {
            width: 350px;
        }
        #comment-container {
            width: 350px;
            margin: auto;
        }
        .pp{
            font-size: 17px;
        }
    }
    @media (max-width : 395px) {
        ul button {
            margin-left: 35px;
        }
    }
    @media (max-width : 390px) {
        ul button {
            margin-left: 35px;
        }
        video {
            width: 300px;
        }
        #comment-container {
            width: 300px;
            margin: auto;
        }
    }
    @media (max-width : 361px) {
        ul button {
            margin-left: 35px;
            font-size: 15px;
        }
    }
    @media (max-width : 321px) {
        ul button {
            margin-left: 25px;
        }
        video {
            width: 250px;
        }
        #comment-container {
            width: 250px;
            margin: auto;
        }
    }
    @media (max-width : 281px) {
        ul button {
            margin-left: 15px;
        }
    }
    @media (max-width : 241px) {
        ul button {
            margin-left: 5px;
        }
        video {
            width: 200px;
        }
        #comment-container {
            width: 200px;
            margin: auto;
        }
        button.k1{
            width: 150px;
        }
    }
    

